{%load static%}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ConabDash</title>


<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'main_OceanFive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
        <body>
            {% block content %}

            {% endblock %}

        </body>
</html>

