{% extends "core/base.html" %}

{% block statusmessages %}

{% if user.is_authenticated %}

    {% if request.session.is_admin %}

        {% for i in items %}
                <div class="messagebox">
                    <div class="messagetext">{{i.message}}</div>
                    <div class="messagetext">{{i.detailed_message}}</div>
                    {% url 'delete_message' id=i.id as del_url %}
                    <div class="msgHDR {{i.header_class}}"><a  class="delButton" title="Remover Mensagem" href="{{del_url}}">Remover Mensagem</a><a  class="profileLink" href="{% url 'profile-view' username=i.username %}">{{i.author}}<br>{{i.header}}</a><img class="userAvatarMini" src="{{ i.form_instance.instance.photo.url }}"></div>
                </div>
        {% endfor %}

    {% else %}
            {% for i in items %}
                <div class="messagebox">
                    <div class="messagetext">{{i.message}}</div>
                    <div class="msgHDR {{i.header_class}}"><a  class="profileLink" href="{% url 'profile-view' username=i.username %}">{{i.author}}<br>{{i.header}}</a><img class="userAvatarMini" src="{{ i.form_instance.instance.photo.url }}"></div>
                </div>
            {% endfor %}
    {% endif %}

{% else %}

    {% for i in items %}
                <div class="messagebox">
                    <div class="messagetext">{{i.message}}</div>
                    {% url 'delete_message' id=i.id as del_url %}
                    <div class="msgHDR {{i.header_class}}"><a class="profileLink" href="{% url 'profile-view' username=i.username %}">{{i.author}}<br>{{i.header}}</a><img class="userAvatarMini" src="{{ i.form_instance.instance.photo.url }}"></div>
                </div>
    {% endfor %}

{% endif %}
{% endblock %}
